@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,th,img,u,i {
	list-style:none;
	padding:0;
	margin:0;
}
.head{
	position:fixed;
	width:100%;
	height:8%;
	border:none;
    background: #f9fafc;
}
.leftBody{
    top: 8%;
    position: fixed;
    width: 13%;
    height: 92%;
    border: none;
    background-color: #394263;
}
.rightBody{
    top: 8%;
    left: 13%;
    position: fixed;
    width: 87%;
    height: 92%;
    border:none;
    background-color: #eaedf1;
}

.item:hover {
    background: rgba(170, 193, 182, 0.57);
}
.logo{
    width: 9%;
    height: 68%;
    position: absolute;
    margin: 0.6% 2%;
    background-color: rgba(255, 255, 0, 0.15);
}
.exit{
    position: absolute;
    width: 8%;
    height: 73%;
    padding: 0.5% 0.5%;
    background-color: #f9fafc;
    font-size: 1.1vw;
    line-height: 3;
    text-align: center;
    margin-left: 90%;
    z-index: 1004;
    cursor: pointer;
    border: none;
    color: #5bc0de;
}
.exit:hover{
	color:#fff;
	background-color:#5bc0de;
	border:none;
}
.top{
    height: 6%;
    width: 80%;
    background-color: #394263;
    color: #868b92;
    font-size: 10px;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 4;
    margin-left: 20%;
}
.item {
    width: 100%;
    height: 5%;
    line-height: 3;
    font-size: 12px;
    cursor: default;
    font-weight: bold;
    background-color: #394263;
    color: #fff;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.itemFr{
	position: relative;
    margin-left: 20%;
}
.bodyHead{
    position: relative;
    width: 100%;
    height: 20%;
}
.bodyTable{
	position: relative;
    width: 100%;
    height: 70%;
}
.bodyPage{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 15px;
    font-family: 等线;
    font-weight: normal;
    cursor: default;
}
.table{
	position: fixed;
    z-index: 1008;
    top: 27%;
    left: 20%;
    width: 75%;
    table-layout: fixed;
    font-size: 1.1vw;
    line-height: 1.5;
}
.table tr td {
    border: 0.05em solid #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.7% 0.5%;
}

.controlTh2{
    background-color: #f9fafc;
    font-weight: bold;
}

.controlTh{
	text-align:center;
}
.otherTr{
	background-color:#f3f3f3;
}
.table tr {
	width: 100%;
}
.button {
    background: none;
    width: 40%;
}
.control{
	margin: 0 3% 0 3%;
    font-size: 1.1vw;
    cursor: pointer;
    color:#0589CB;
}
.flAdd{
    float: left;
    margin-top: 6%;
    width: 6%;
    height: 28%;
    line-height: 2.5;
    font-size: 1vw;
    text-align: center;
    margin-left: 8%;
}
.add{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #5bc0de;
    color: white;
    border: none;
    border-radius: 7px;
}
.add:hover{
	color:#fff;
	background-color:rgba(0, 0, 255, 0.21);
	border:none;
}
.frFind{
    margin-top: 6%;
    width: 33%;
    position: absolute;
    margin-left: 61%;
    height: 28%;
}
.find{
    float: left;
    height: 87%;
    width: 57%;
    font-size: 1vw;
    padding-left: 1%;	
}
.select{
    float: left;
    width: 25%;
    height: 98%;
    font-size: 1vw;
    padding-left: 1%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 0;
}
.control:hover {
    color: #23527c;
    text-decoration-line: underline;
}
.btFind{
    float: left;
    width: 15%;
    font-size: 1.3vw;
    line-height: 1.75;
    cursor: pointer;
    background: none;
    outline:none;
    border:1px solid #c9c9c9;
    color: #5bc0de;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 0;
}
#displayModel, #addEditModel, #title, #sel, #cover{
	display:none;
}

.addInput1{
    float: left;
    width: 49.8%;
    height: 12%;
    position: relative
}
.addInput2{
    float: right;
    width: 49.8%;
    height: 12%;
    position: relative
}
.inputBody{
    margin-top: 5%;
    height: 80%;
}
.lab1{
    position: absolute;
    margin-left: 35%;
    margin-top: 5%;
    font-size: 0.9vw;
}
.lab2{
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 0.9vw;
}
.input1{
    margin-left: 42%;
    margin-top: 4.8%;
    height: 25%;
    width: 50%;
    font-size: 0.9vw;
    line-height: 0.5;
    padding: 0 0.2%;
    border: 0.01em solid rgba(0, 0, 0, 0.45)	
}
.input2{
    margin-left: 12%;
    margin-top: 4.8%;
    height: 25%;
    width: 50%;
    font-size: 0.9vw;
    line-height: 0.5;
    padding: 0 0.2%;
    border: 0.01em solid rgba(0, 0, 0, 0.45)	
}
.tail{
    width: 100%;
    height: 5%;
    position: relative;
    float: right;
    margin-top: 3%;
    text-align: center;
}
.btSure{
    margin-right: 5%;
    width: 5%;
    height: 90%;
    background: none;
    outline: none;
    cursor: pointer;	
}
.btRe{
    margin-left: 5%;
    width: 5%;
    height: 90%;
    background: none;
    outline: none;
    cursor: pointer;	
}
.title{
    position: absolute;
    top: 12%;
    left: 55%;
    font-size: 1.2vw;
    z-index:1200;	
}
.cover{
	position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.52);	
}
.sel{
    top: 25%;
    position: absolute;
    z-index: 1009;
    width: 50%;
    height: 50%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.47);
    color: #fff;
    box-shadow: 1px 1px 20px 6px #fff	
}
.selTitle{
    width: 100%;
    text-align: center;
    margin: 1% 0;
    font-size: 1.8vw;
    line-height: 2.5;	
}
.selBody{
	width: 90%;
    height: 70%;
    padding: 1% 5%;
}
.selTail{
	    width: 100%;
    text-align: center;
    height: 10%;
    padding: 1%;
}
.itemSel{
    width: 25%;
    float: left;
    margin: 2% 0;
    text-align: center;
    font-size: 1.8vw;
    line-height: 1.5;
}
.checkbox{
    font-size: 1.8vw;
    line-height: 1.5;
    border: 0.01em solid #fff;
    transform: scale(2.5);	
}
.selSure{
	width: 15%;
    height: 75%;
    margin-left: 25%;
    float: left;
    border: none;
    outline: none;
    background:none;
    font-size: 1vw;
    cursor: pointer;
    line-height: 1.5;
    border:0.01em solid #fff;
}
.selQuit{
    width: 15%;
    height: 75%;
    margin-right: 25%;
    float: right;
    border: none;
    outline: none;
    background:none;
    font-size: 1vw;
    line-height: 1.5;
    cursor: pointer;	
    border:0.01em solid #fff;
}
.selTail button:hover{
	color:#000;
	background-color: #fff;
}

