@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,u,i {
	list-style:none;
	padding:0;
	margin:0;
}
body{

}
.backgroundImg{
	width:100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	background-size: 100% 100%;
}
.actAndTey{
    width: 80%;
    height: 100%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}
.activeDis{
    width: 48%;
    height: 73%;
    margin-top: 10%;
    float: left;
    background-color: #000;
    opacity: 0.3;
}
.activeDis_cover{
    height: 73%;
    margin-top: 10%;
    float: left;
    position: absolute;
    width: 48%;
	
}
#activeDisplay, #technologyDisplay{
	    height: 78%;
}
.TeyDis{
    margin-top: 10%;
    /* height: 560px; */
    float: right;
    background-color: #000;
    opacity: 0.3;
    width: 48%;
    height: 73%;
}
.TeyDis_cover{
    margin-top: 10%;
    height: 560px;
    right: 0;
    position: absolute;
    width: 48%;
    height: 73%;
}
.exit{
    position: absolute;
    z-index: 1;
    top: 62px;
    /* margin-left: 1120px; */
    right: 0;
    width: 40px;
    height: 25px;
    font-size: 20px;
    color: yellow;
    cursor: pointer;
}
.mime{
    position: absolute;
    z-index: 1;
    top: 62px;
    width: 200px;
    height: 25px;
    font-size: 20px;
    color: yellow;
    cursor: pointer;
}
.activeDisHead{
	width:100%;
}

.headSpan{
	position:relative;
	color: #fff;
	font-size: 20px;
	margin:0 auto 25px auto;
	display: block;
	width: 81px;	
	line-height: 40px;
	font-family: "幼圆";
}
.item{
	font-family: "幼圆";
    /* margin: 24px 0 24px 0; */
    color: #fff;
    font-size: 16px;
    height: 7.6%;
    width: 100%;
    /* position: absolute; */
    /* height: 6%; */
    margin-top: 2%;
    margin-bottom: 2%;
}
.itemFl{
    cursor: pointer;
    float: left;
    margin-left: 10%;
}
.itemFr{
	float:right;
	margin-right:10%;
}
.add{
    outline: none;
    color: #ade2df;
    font-family: "等线";
    width: 35px;
    height: 20px;
    font-size: 16px;
    position: absolute;
    margin-top: 3%;
    /* top: 520px; */
    margin-left: 59px;
    cursor: pointer;
}
.page{
    color: #fff;
    font-family: "等线";
    width: 220px;
    height: 20px;
    font-size: 16px;
    position: absolute;
    margin-bottom: 10px;
    /* top: 86%; */
    /* margin-top: 90%; */
    margin-top: 3%;
    margin-left: 33%; 
}
.logo{
    position: absolute;
    top: 4%;
    height: 10%;
    right: 43.5%;
}
.control{
    width: 80%;
    position: absolute;
    bottom: 1%;
    left: 10%;
    height: 10%;
    right: 10%;
}
.mainCtr{
    width: 48%;
    float: left;
	margin-top: 2%;
    height: 50%;
    text-align: center;
}
.secondCtr{
    width: 48%;
    float: right;
	margin-top: 2%;
    height: 50%;
    text-align: center;
}
.control button{
	width: 22%;
    margin-right: 6.2px;
    /* height: 122%; */
    /* font-size: 2%; */
    background: none;
    color: #bd9e24;
    border-bottom: none;
    border-color: #bd9e24;
    cursor: pointer;
    height: 100%;
}
.control button:focus{
	outline:none;
}
.canEdit{
	color:color: #ade2df;
	cursor:pointer;
}
.cantEdit{
	color:#ccc;
	cursor:not-allowed;
}
.cover{
	display:none;
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background-color: #000;
    top: 0;
    opacity: 0.4;
}
.add_cover{
    position: absolute;
    z-index: 1001;
    width: 516px;
    height: 630px;
    top: 87px;
    margin-left: 324px;
    background-color: #000;
    opacity: 0.7;
    box-shadow: 1px 1px 20px 6px #fff;
    display:none;
}
.addTechnologyCover{
	display:none;
    position: absolute;
    z-index: 1001;
    width: 516px;
    height: 530px;
    top: 126px;
    margin-left: 324px;
    background-color: #000;
    opacity: 0.7;
    box-shadow: 1px 1px 20px 6px #fff;
}
.addActive{
	position: absolute;
    z-index: 1002;
    width: 516px;
    height: 630px;
    top: 87px;
    margin-left: 324px;
    display:none;
}
.addTechnology{
	position: absolute;
    z-index: 1002;
    width: 516px;
    height: 530px;
    top: 126px;
    margin-left: 324px;
    display:none;
}
.addActiveHead{
	width:100%;
	color:#fff;
	font-family:"幼圆";
	font-size:20px;
	line-height:40px;
	margin:10px 0 10px 0;
}
.addActiveBody{
	width:100%;
	color:#fff;
	font-family:"幼圆";
	font-size:18px;
	height:32px;
	margin:20px 0 20px 0;
}
.addActiveBody2{
	width:100%;
	color:#fff;
	font-family:"幼圆";
	font-size:18px;
	height:280px;
	margin:20px 0 20px 0;
}
.addSpan{
	line-height: 32px;
	padding-left:25px;
}
.addInput{
	width:403px;
	background:none;
	border:1px solid #fff;
	color:#fff;
	font-size:18px;
	line-height:32px;
	height:32px;
	margin-right:25px;
	padding:0 4px;
}
.redTip{
	color:red;
}
.addSelect{
	width:413px;
	background:none;
	border:1px solid #fff;
	color:#fff;
	font-size:18px;
	line-height:32px;
	height:32px;
	margin-right:25px;
	padding:0 4px;
}
.addSelect:focus{
	background:#000;
}
.addTextarea{
	width:403px;
	background:none;
	border:1px solid #fff;
	color:#fff;
	font-size:18px;
	font-family:"幼圆";
	line-height:32px;
	height:280px;
	margin-right:25px;
	padding:0 4px;
	resize:none;
}
.addFile{
	width:200px;
	margin-left:155px;
	height:32px;
	font-family:"幼圆";
	line-height:32px;
	outline:none;
	position:absolute;
	z-index:1008;
	opacity:0;
}
.fileCover{
	width:200px;
	margin-left:155px;
	height:32px;
	font-family:"幼圆";
	line-height:32px;
	outline:none;
	background:none;
	position:absolute;
	z-index:1005;
	border:1px solid #fff;	
}
.bodyFl{
	float:left;
}
.bodyFr{
	float:right;
}
.btFl{
	float:left;
	padding-left:30%;
}
.btFr{
	float:right;
	padding-right:30%;
}
.addBt{
	width:100px;
	height:32px;
	font-family:"幼圆";
	line-height:32px;
	font-size:18px;
	background:none;
	border:1px solid #fff;
	color:#fff;
	outline:none;
	cursor:pointer;
}
.addBt:hover{
	color:#000;
	background:#fff;
}